
.header{
  width: 100%;
}

/*** Header TOP ****/

.header_top{
  width: 100%;
  background: #04142e;
}
.header_top_wrapper{
  display: flex;
  width: 100%;
  padding: 18px 4px;
}

.header_top_wrapper .adress{
  width: 34%;
  display: block;
  padding-left: 53px;
  padding-top: 14px;
}
.adress .adress_item{
 color: white;
 line-height: 28px;
 letter-spacing: 0.3px;
}
.header_top .number{
  width: 39%;
  justify-content: space-around;
  display: flex;
}
.header_top .number_phone{
  width: 46%;
  display: block;
}
.number_phone .number_phone_item{
  color: white;
  color: white;
  letter-spacing: 1px;
  line-height: 1.7;
  font-size: 16px;
}
.number_phone:last-child{

}
.header_top .call_language{
  width: 27%;
  display: flex;
  justify-content: space-around;
  padding-left: 16px;
  padding-top: 14px;
  letter-spacing: 0.4px;
}
.header_top .callme_button a{
  color: white;
  text-decoration: none;
  font-size: 20px;
}
.header_top .language_items a{
  color: white;
  text-decoration: none;
  font-size: 19px;
  font-weight: bold;
  text-transform: uppercase;
}

/**    HEADER BOTTOM  **/

.header_botoom{
  background: #043e5d;
  padding-top: 29px;
  padding-left: 94px;
  padding-bottom: 14px;
}
.header_botoom_wrapper{
  display: flex;
}
.header_logo img{
  width: 85%;
}
.header_menu{
  width: 80%;
  padding: 55px 12px;
}
.header_menu ul{
  display: flex;
}
.header_menu ul li{
  display: flex;
  list-style: none;
  padding-left: 23px;
  font-size: 17px;
  letter-spacing: 2.6px;
  font-weight: bold;
}
.header_menu ul li a{
  text-decoration: none;
  color: white;
}
/*hamberger click*/
.humburger_wrapper{
  position: relative;
}
.hamburger {
  cursor: pointer;
  margin: 0 auto;
  padding-left: 1.25em;
  position: relative;
  width: 49px;
  height: 40px;
  margin-top: 70px;
  margin-right: 36px;
}
.open_menu{
  opacity: 0;
  transition: 0.5s;
  width: 300px;
  position:  relative;
  position: absolute;
  left: 0;
  z-index: 25;
  background: #043e5d;

}

.open_menu.active{
  background: #3e279d;
  opacity: .7;
  width: 1052px;
display: none;
}
.open_menu ul li{
  list-style: none;
  list-style: none;
  padding-top: 14px;
  padding-right: 22px;
  line-height: 18px;
}
.open_menu ul li a{
  text-decoration: none;
  color: white;
}
.menu-global {
  backface-visibility: hidden;
  position: absolute;
  left: 0;
  border-top: 4px solid white;
  width: 100%;
  transition: 0.55s;
}
.menu-top {
  top: 0;
}
.menu-middle {
  top: 12px;
  width: 50%;
  }
.menu-bottom {
  top: 24px;
}
.menu-top-click {
  backface-visibility: hidden;
  top: 15px;
  transform: rotate(50deg);
  transition: 0.55s 0.5s;
}
.menu-middle-click {
  opacity: 0;
}
.menu-bottom-click {
  backface-visibility: hidden;
  top: 15px;
  transform: rotate(-410deg);
  transition: 0.55s 0.5s;
}


/***   Img content news      **/
.news{
  width: 100%;
}
.new_wrapper{
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-left: 12px;
  padding-right: 22px;
  padding-top: 60px;
}
 .news .news_item{
   display: flex;
  width: 30%;
  background: #e6e6e6;
  padding-bottom: 16px;
}
.news_item .news_item_wrapper{
  display: flex;
}
.news_img_wrapper img{
  width: 97%;
/* height: 134px; */
  padding: 15px 15px;
}
.news_img_wrapper .news_img_second{
      padding: 22px;
}
.news_text{
  padding-top: 22px;
  line-height: 26px;
  width: 79%;
}
.news_text a{
  text-decoration: none;
text-transform: uppercase;
font-weight: bold;
font-size: 13px;
letter-spacing: 1px;
}
.news_item .news_text_bold{
  font-weight: bold;
  color: #2c2c2d;
}
.news_item .news_text_regular{
  color: #4d4d4d;
}
.news_item .news_text_date{
  color: #4c4d4f;
  font-size: 13px;
}

/********     img block         *********/
.img_block{
  width: 100%;
  padding-top: 46px;
}
.img_block .img_block_wrapper{
  display: flex;
  padding-right: 7px;
width: 100%;
height: 760px;
opacity: 0.9;
}
.img_block_big_first{
  padding-left: 37px;
  position: relative;
}
.img_block_big_first .img_block_big_text{
  position: absolute;
  bottom: 0;
  background: #341516;
  width: 93.5%;
  opacity: 0.73;
  color: white;
  padding: 20px;
  line-height: 35px
}
.img_block_big_text .img_block_big_text_bold{
  font-size: 24px;
}
.img_block_big_text .img_block_big_text_regular{
  font-size: 20px;
}
.img_block_big_text .img_block_big_text_light{
  font-size: 18px;
}
.img_block_big_second{
  width: 44%;
}
.img_block_big img{
  width: 98%;
}
.img_block_big_second_item_first{
  height: 286px;
    position: relative;
}
.img_block_big_second_item_second{s
  position: relative;
  padding-top: 19px;
}
.img_block_big_second_item_second img{
  width: 88%;
  width: 93%;
}
.img_block_big_second_item_first img{
  width: 88%;
  width: 93%;
  padding-bottom: 10.5px;
  position: relative;
}
.img_block_big_second_text_first{
  position: absolute;
  bottom: 0;
  background: #5a5c62;
  width: 93.5%;
  opacity: 0.73;
  color: white;
  padding: 20px;
  line-height: 35px;
}
.img_block_big_second_text_second{
  position: absolute;
  background: #20326e;
  width: 36%;
  opacity: 0.73;
  color: white;
  line-height: 31px;
  margin-top: -98px;
  padding: 16px;
}

/*  img block under  */
.img_block_under_wrapper{
  display: flex;
padding-top: 14px;
padding-left: 38px;
padding-right: 31px;
margin-top: -161px;
}
.img_block_under_item img{
  width: 96%;
}
.img_block_under_item{
  position: relative;
}
.img_block_under_text{
  position: absolute;
  bottom: 0;
  opacity: 0.6;
  background: #043e5d;
  color: white;
  width: 96%;
  padding: 24px 23px;
  font-size: 20px;
}

/*button slide*/
.button_slide{
  display: flex;
margin: 0 auto;
width: 7%;
}
.button_slide .button_slide_item{
  background: #043e5d;
  padding: 15px 18px;
  margin: 26px 6px;
  border-radius: 50%;
}
.button_slide .button_slide_item:last-child{
  background: white;
  padding: 7px 15px;
  margin: 26px 7px;
  border: 1px solid #043e5d;
  border-radius: 50%;
}

/*******      ALL PROJECTS          *******/
.all_projects{
  width: 100%;

  background-image: url("img/Слой 13.png");
}
.all_projects_wrapper{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 760px;
  margin-top: 9px;
  padding-left: 21px;
  opacity: 0.9;
  background: #061630;
}
.all_projects_paragraf{
  width: 41%;
  padding: 168px 32px;
}
.all_projects_paragraf_main .paragraf_bold{
  color: white;
  font-weight: bold;
  font-size: 24px;
  text-transform: uppercase;
  line-height: 43px;
  letter-spacing: 3px;
    opacity: 0.75;
}
.all_projects_paragraf_main .paragraf_regular{
  color: white;
  font-weight: 300;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 42px;
  opacity: 0.75;
}
.paragraf_border{
  width: 53%;
  background: white;
  padding: 1px 7px;
  margin: 4px -2px;
  border-radius: 17%;
  opacity: 0.8;
}
.paragraf_project_p{
  color: white;
font-weight: 200;
line-height: 45px;
letter-spacing: 2px;
font-size: 17px;
font-family: lato;
opacity: 0.75;
}
.paragraf_button{
  width: 39%;
  background: #8e7347;
  color: white;
  padding: 13px;
  margin: 56px 12px
}
.paragraf_button a{
  color: white;
text-decoration: none;
text-transform: uppercase;
font-size: 20px;
padding-left: 8px;
letter-spacing: 1px
}
.all_projects_img{
  padding-top: 170px;
    width: 54%;
}
.all_projects_img img{
  width: 89%;
  height: 411px;
}


/*****        ABOUT COMPANY              *******/
.about_company{
  width: 100%;
}

.about_company_wrapper{
  padding-top: 156px;
}
.about_company_maintext{
  width: 79%;
  margin: 0 auto;
  letter-spacing: 0px;
  font-size: 12px;
}
.about_company_wrapper img{
  width: 125px;
margin-left: 48px;
}
.about_company_paragraf{
  font-size: 20px;
  padding-top: 44px;
  padding-bottom: 16px;
  line-height: 38px;
  letter-spacing: 1px;
  color: #363434;
}
.about_company_border{
  background: #363434;
 padding: 2px;
 margin-top: 31px;
 border-radius: 4px;
 opacity: 0.8;
opacity: 0.8;
width: 41%;
margin: 0 auto;
}
.about_company_maintext h3{
  text-align: center;
  font-size: 32px;
  color: #363434;
  letter-spacing: 4px;
}
.about_company_maintext p{
  text-align: center;
}
.about_company_logos{
  display: flex;
    justify-content: space-between;
    padding-left: 66px;
    width: 94%;
    padding-top: 171px;
}
.about_company_logos_item{
  background: #527a8f;
  color: white;
  padding: 79px;
  font-size: 30px;
  height: 93px;
}
.logos_text{
  padding-top: 31px;

}
 .logos_text span{
   color: #363434;
   padding-top: 40px;
   font-weight: 500;
   text-transform: uppercase;
   text-align: center;
   font-size: 20px;
   letter-spacing: 1px;
}

/**     gallary          */
.gallary{
  width: 100%;
      padding-top: 261px;
}
.gallary_wrapper{
  width: 100%;

}
.gallary_wrapper{
  display: flex;
  display: flex;
padding-top: 152px;
}
.gallary_main_text{
  color: #363434;
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.gallary_main_text h1{
  font-size: 34px;
}
.gallary_main_text h6{
  padding-top: 28px;
  font-size: 21px;
}
.gallary_slide{
  display: flex;
}
.gallary_slide .gallary_slide_item img{
  width: 99.8%;
  opacity: 0.85;
}
.button_gallary{
  padding-top: 38px;
padding-left: 14px;
}
.button_gallary a{
  border: 2px solid #043e5d;
  text-decoration: none;
  padding: 14px 37px;
  text-transform: uppercase;
  border-radius: 92ppx;
  border-radius: 18px;
  color: #043e5d;
  font-weight: bold;
  letter-spacing: 2px;
}


/*           paragrafs******/
.gallary_paragrafs{
  display: flex;
padding-top: 170px;
    width: 100%;
}
.gallary_paragrafs_wrapper{
  display: flex;
  justify-content: space-between;
  display: flex;
justify-content: space-between;
padding-left: 57px;
}
.gallary_paragrafs_item{
  width: 24%;
}
.paragraf_main{
  line-height: 1px;
  font-size: 20px;
  font-weight: bold;
  color: #363434;
}
.paragraf_bold{
  font-size: 22px;
letter-spacing: 1px;
color: #363434;
}
.paragraf_regular{
  padding-top: 35px;
display: block;
font-size: 17px;
letter-spacing: 2px;
color: #363434;
}
.paragraf_main span{
  display: block;
  color: #363434;
}
.paragraf_p{
  line-height: 42px;
  font-size: 16px;
  letter-spacing: 1px;
  padding-top: 32px;
  width: 88%;
  color: #363434;
}
.paragraf_date{
  padding-top: 18px;
  font-size: 18px;
  font-weight: 500;
}
.paragraf_more{
  padding-top: 23px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;

}
.paragraf_more a{
  text-decoration: none;
  color: ##043e5d;
}


/**     footer    **/
.footer{
  width: 100%;
padding-top: 86px;
}
.footer_top{
  background: #043e5d;
}
.footer_top_wrapper{
  padding: 22px;
  display: flex;
  padding: 61px 40px;
  display: flex;
  justify-content: space-between;
}
.soc_ceti{
  width: 16%;
  display: flex;
  padding-top: 16px;
  display: flex;
}
.soc_ceti_item a img{
  width: 68px;
  margin-right: 14px;
}
.soc_ceti a{
  padding-left: 12px;
  font-size: 27px;
  text-decoration: none;
  color: white;
  font-weight: 500;
  letter-spacing: 2px;
}
.footer_about{
  line-height: 33px;
letter-spacing: 1px;
font-size: 19px;
padding-top: 16px;
padding-left: 96px;
}
.footer_about a{
  color: white;
  text-decoration: none;
  display: block;
}
.footer_about_contact  a{
  color: white;
  background: #043e5d;
  text-decoration: none;
  display: block;
}

.footer_about span{
  display: block;
  color: white;
}
.footer_about .footer_about_border{
  background: white;
width: 63%;
padding: 1px;
margin-top: 8px;
}
.footer_adress{
  width: 36%;
color: white;
line-height: 32px;
letter-spacing: 1px;
}
.footer_bottom{
  background: #04142e;
  padding: 10px;
}
.footer_bottom_wrapper span{
  color: white;
  letter-spacing: 2px;
  font-size: 14px;
  padding-left: 17px;
}
